img{
  max-width: 200px;
  max-height: 200px;
}

#initially-hidden {
  display: none;
}


.clickable{
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover{
  text-decoration: underline;
}

.fadeable-in {
  cursor: pointer;
  color: #0088cc;
}

.fadeable-in:hover {
    text-decoration: underline;
}

.fadeable-out {
  cursor: pointer;
  color: #0088cc;
}

.fadeable-out:hover {
    text-decoration: underline;
}

.toggle {
  cursor: pointer;
  color: #0088cc;
}

.toggle:hover {
    text-decoration: underline;
}

.slideUpWalrus {
  cursor: pointer;
  color: #0088cc;
}

.slideUpWalrus:hover {
    text-decoration: underline;
}

.slideDownWalrus {
  cursor: pointer;
  color: #0088cc;
}

.slideDownWalrus:hover {
    text-decoration: underline;
}
